body {
	font-family:courier;
	color:white;
	background-color: black;
}

table {
    font-size: 8pt;
    width=100%;
}

td {
    width: 1.25%;
    height: 2.2em;
    border: 1px solid white;
    text-align: center;
    vertical-align: bottom;
}

h1, h2, h3 {
	text-align: center;
}