body {
	font-family:courier;
}

.room {
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	min-width:60%;
	max-width:60%;
	min-height:50%;
	max-height:50%;
	border-color:#000000;
	border-style:double;
	border-width:6px;
}	